{% extends "base.html" %}

{% block title %}
night_sky - main
{% endblock %}

{% block style %}
{% include "style_css.html" %}
{% endblock %}

{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}

{% block body %}
<div>
    <div id="site_content">
        {% include "inc-sidebar.html" %}
        <div id="content">
            {% if category_name %}
                <h1>Создание подКатегории для категории "{{category_name}}"</h1>
            {% else %}
                <h1>Создание категории</h1>
            {% endif %}
            <form method="post">
                <input type="text" name="name" placeholder="Название">
                <button type="submit">Сохранить и вернуться к списку категорий</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "inc-footer.html" %}
{% endblock %}
