<div class="sidebar">
    <h1>Паттерны</h1>
    <h5>February 2st, 2022</h5>
    <p>Предустановлены справочники <u>Студентов</u>, <u>категорий курсов</u> и самих <u>курсов</u> (загружаются из SQLite).<br/>
        Предусмотрена работа по добавлению этих сущностей.<br/>
        Также, реализован  <u>Logger</u> c режимамии записи в файлы и консоль...</a></p>
    <h4>Работа со справочниками</h4>
    <ul>
        <li><h3><a href="/category-list/">Категории курсов</a></h3></li>
        <li><h3><a href="/student-list/">Студенты</a></h3></li>
    </ul>
    <h1>Search</h1>
    <form method="post" action="#" id="search_form">
        <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....."/>
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" alt="Search" title="Search"/>
        </p>
    </form>
</div>