{% extends "base.html" %}

{% block title %}
night_sky - main
{% endblock %}

{% block style %}
{% include "style_css.html" %}
{% endblock %}

{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}

{% block body %}
<div>
    <div id="site_content">
        {% include "inc-sidebar.html" %}
        <div id="content">
            <h1>Архитектура и шаблоны проектирования на Python</h1>
            <h4>Lesson 01 (Паттерны web-представления)</h4>
            <p>
                - реализация wsgi фреймворка используя паттерны page controller и front controller...<br>
                - возможность отвечать на get запросы пользователя
            </p>
            <h4>Lesson 02 (Архитектура python-приложений)</h4>
            <p>
                - возможность обработки данных из post и get запросов<br>
                - страница контактов на которой пользователь может отправить сообщение
            </p>
            <h4>Lesson 03 (Принципы проектирования)</h4>
            <p>
                - механизм наследования и включения шаблонов (базовый шаблон + несколько включенных шаблонов)<br>
                - меню, которое отображаетсят на всех страницах
            </p>
            <h4>Lesson 04 (Порождающие паттерны)</h4>
            <p>
                - реализуем сущностей Категории и Курсы по обучению, Студенты<br>
                - загрузка первичных данных из БД (SQLite), если БД нет - ее создание<br>
                - реализация интерфейса создания новых сущностей + копирования курсов + Запись студента на курс<br>
                - Logger (пишем в консоль и файл) отличает по имени при создании (Singleton)
            </p>
            <h4>Lesson 05 (Структурные паттерны)</h4>
            <p>
                - реализация альтернативного механизма URLs, по аналогии с фреймворком Flask @app(‘/some_url/’)<br>
                - декоратор @debug, для функций - в терминал выводятся название функции и время ее выполнения<br>
                - реализация неограниченной вложенности для категорий курсов (ссылается на др категорию)<br>
                - 2 новых вида wsgi-application. Первый - логирующий, второй - фейковый (на все запросы - “200 OK”, “Hello from Fake”)
            </p>
            <h4>Lesson 06 (Поведенческие паттерны)</h4>
            <p>
                - реализация CBV (Class Based Views). Возможность создавать view в виде класса
                <i>(расширил CreateView: redirect_to для возврата...)</i><br>
                - при поступлении Студента на Курс, имитируется отправка SMS и Email
                <i>(перенес из view в creation pattern, иначе при копировании или создании из БД не отрабатывают)</i><br>
                - API для Курсов и Студентов<br>
            </p>
            <h4>Lesson 07 (Архитектурные системные паттерны)</h4>
            <p>
                - в БД добавил сущность 'student_course' для поддержания хранения в БД Студентов записавшихся на Курсы
                <i>(сущности 'student', 'category' и 'course' были реализованы ранее)</i><br>
                - реализовал <b>'MapperRegistry'</b> (Singletone) для автоматического (по имени сущности) выбора Класса работающего напрямую с БД<br>
                - разработал <b>УНИВЕРСАЛЬНЫЙ 'UniversalMapper'</b>, работающий напрямую с БД (аналог ORM)
                <i>(сам определяет перчень полей в передаваемых объектах, умеет работать как с обычными словарями, так и классами Моделей...)</i>
                - использован паттерн <b>'UnitOfWork'</b>
            </p>

        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "inc-footer.html" %}
{% endblock %}
