{% extends "base.html" %}

{% block title %}
night_sky - main
{% endblock %}

{% block style %}
{% include "style_css.html" %}
{% endblock %}

{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}

{% block body %}
<div>
    <div id="site_content">
        {% include "inc-sidebar.html" %}
        <div id="content">
            <h1>Создание студента</h1>
            <form method="post">
                <input type="text" name="name" placeholder="ФИО">
                <button type="submit">Сохранить и вернуться к списку студентов</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "inc-footer.html" %}
{% endblock %}
